.generic-layout {
    outline: 4px solid blue;

    &,
    .block {
        
        position: relative;
        &::before {
            position: absolute;

            content: attr(class);
            display: inline-block;
            padding: 5px;
            background-color: #f0f0f0;
            color: #333;
            font-size: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
}