{#
/**
 * @file
 * Default theme implementation to display a generic layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout'
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
  {% for region in settings.regions %}
  <div{{ attribute(region_attributes, region).addClass('layout__region', 'layout__region--' ~ region) }}>
    {{ attribute(content, region) }}
  </div>
  {% endfor %}
  </div>
{% endif %}
